<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35696865082-qpkl25v2utsldjm7komk58m0l1efdsg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35696865082-qpkl25v2utsldjm7komk58m0l1efdsg1</string>
	<key>API_KEY</key>
	<string>AIzaSyCHlKywK_VH7ZmohBnyuPYgXLPI897kRts</string>
	<key>GCM_SENDER_ID</key>
	<string>35696865082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.callAway</string>
	<key>PROJECT_ID</key>
	<string>call-away-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>call-away-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35696865082:ios:47ae6bee9e74ef85e96a03</string>
</dict>
</plist>